/* Add additional stylesheets below
-------------------------------------------------- */
/*body {
    background-image: url("/assets/images/background.jpg");

}*/

.img_item{

   position: absolute;

   right: 0px;

   opacity:0;

   top :0;

}


